/*COLORS*/
/*@import "text-shadow.scss";

/*-------------------global-classes-----------------*/
.btn {
  padding: 10px 35px;
  background-color: #368fd2;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); }
  .btn:hover, .btn:focus {
    background-color: #2774ae; }

.toolTip-info {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  width: 8px;
  height: 22px;
  position: absolute;
  padding: 6px 13px;
  color: #ffffff;
  background-color: #89bde5;
  border-radius: 24px; }
  .toolTip-info:hover, .toolTip-info:focus {
    background-color: #2774ae; }

.toolTip-info:hover .toolTip {
  display: inline-block; }

.tooltip::before {
  content: attr(data-tooltip);
  bottom: 60px;
  position: absolute;
  left: 50%;
  font-size: 13px;
  text-align: center;
  display: inline-block;
  padding: 15px 10px;
  color: #fff;
  background: #2774ae;
  width: 200px;
  border-radius: 3px;
  transform: translate(-50%, 0);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s opacity;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.34); }

.tooltip::after {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #2774ae;
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translate(-50%, 0);
  content: '';
  opacity: 0;
  visibility: hidden;
  transition: 0.4s opacity; }

.tooltip:hover::before {
  visibility: visible;
  opacity: 1; }

.tooltip:hover::after {
  visibility: visible;
  opacity: 1; }

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
.birth-day {
  height: 32px;
  margin: 0 0 5px;
  line-height: 32px;
  padding: 0 8px;
  border: solid 1px #d3d7f7;
  border-radius: 5px;
  color: #2774ae;
  font-size: 14px; }

input::-webkit-input-placeholder {
  color: #2774ae !important; }

input:-moz-placeholder {
  color: #2774ae !important; }

input::-moz-placeholder {
  color: #2774ae !important; }

input:-ms-input-placeholder {
  color: #2774ae !important; }

input[type="submit"] {
  color: #2774ae;
  border-radius: 5px;
  border: #e4e6fb solid 1px;
  display: block;
  text-align: center;
  padding: 8px 0;
  line-height: 1em;
  width: 100%; }

input[type="text"],
input[type="password"] {
  font-size: 14px;
  border-radius: 5px;
  height: auto;
  padding: 4px;
  margin: 0 0 10px; }

input[type="submit"] {
  padding: 10px 0;
  margin: 50px 0 10px;
  width: 70%; }

.name input {
  width: 35.8% !important;
  display: inline-block; }

.err-form {
  border-color: #c33726;
  background: right center url("img/err.png") no-repeat;
  background-size: contain; }

.err-form-span {
  border-color: #c33726;
  background: right center url("img/err.png") no-repeat;
  background-size: contain;
  padding: 16px;
  margin-right: 6px; }

.has-error {
  border-color: #c33726; }

/*--------------------content-----------------*/
.body-content {
  padding: 80px 16% 40px; }
  @media (min-width: 1025px) {
    .body-content {
      /* (min-width: 64.063em) and (max-width: 90em) */
      padding: 80px 23% 40px; } }

.register-info {
  width: 100%;
  padding: 0 50px 0 0;
  color: #2774ae;
  float: left;
  display: inline-block; }
  @media (min-width: 640px) {
    .register-info {
      /* (min-width:) and(max-width: 40em) */
      width: 33%; } }
  .register-info .photo {
    background: center url("../img/aloha2.jpg") no-repeat;
    width: 275px;
    height: 183px;
    /* min-width: 90.063em and max-width: 120em */ }
    @media (min-width: 640px) {
      .register-info .photo {
        /* (min-width:) and(max-width: 40em) */
        display: block;
        position: fixed;
        padding-top: 35px; } }
    @media (min-width 1441px) {
      .register-info .photo {
        top: 45%;
        left: 20%; } }
  .register-info li {
    list-style: circle;
    padding: 10px 0; }

.register-header {
  width: 100%;
  padding: 20px 0 40px;
  color: #2774ae;
  float: right; }
  @media (min-width: 640px) {
    .register-header {
      /* (min-width:) and(max-width: 40em) */
      width: 33%;
      float: left; } }

.register-form {
  clear: both;
  width: 100%;
  padding: 0 0 0 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block; }
  @media (min-width: 640px) {
    .register-form {
      /* (min-width:) and(max-width: 40em) */
      border-left: 1px solid #e6e6e6; } }
  .register-form fieldset {
    border: 0; }
    .register-form fieldset h5 {
      font-size: 13px; }
    .register-form fieldset label {
      display: inline-block; }
  .register-form input, .register-form select {
    padding: 2px 12px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 1.15s, box-shadow ease-in-out .15s; }
    .register-form input:focus, .register-form select:focus {
      border-color: #2774ae;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .register-form .txt {
    display: inline-block;
    width: 80%; }
  .register-form .birth-day {
    width: 26%;
    padding: 0 1%; }
  .register-form .register-question {
    padding: 50px 0 20px;
    border-bottom: 1px solid #e6e6e6;
    width: 80%;
    color: #2774ae; }
    .register-form .register-question h3 {
      width: 100%;
      font-size: 32px;
      display: inline-block; }
    .register-form .register-question h5 {
      padding: 10px 0; }
    .register-form .register-question label {
      padding-right: 10px; }
    .register-form .register-question .answer {
      display: none; }
    .register-form .register-question .input-hobbies {
      margin: 5px; }
    .register-form .register-question .input-movies {
      display: none;
      margin: 5px; }
    .register-form .register-question .box {
      text-transform: uppercase; }
      .register-form .register-question .box span {
        border: 1px solid #2774ae;
        color: #2774ae;
        margin: 5px 5px;
        padding: 0 16px;
        border-radius: 5px; }
      .register-form .register-question .box .checked {
        background-color: #bf483f;
        color: #ffffff;
        border: #bf483f; }
  .register-form .pet input[type="checkbox"],
  .register-form .hobbies input[type="checkbox"],
  .register-form .answer,
  .register-form .job,
  .register-form .movie input[type="checkbox"],
  .register-form .student {
    display: none; }

/*# sourceMappingURL=register.css.map */
